.votebutton:hover {
  animation: ratingDance 1s infinite;
  filter: drop-shadow(0px 0px 3px #ffcc00);
}

@keyframes ratingDance {
  0% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(-15deg) scale(1.05);
  }
  100% {
    transform: rotate(15deg) scale(1);
  }
}
