.forumcategoryblock {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: inline-block;
}

.container:not(.postlist) {
  width: 100% !important;
  max-width: 100% !important;
  flex-wrap: inherit;
  column-count: 2;
}

.useroptions .container,
.forumhead .container,
.container.postlist,
.threadlistsection .container,
.section.threadviewsection .container,
.section.threadlistsection .container,
.section.forumhead .container,
body.usershop .container,
body.newthread .container {
  column-count: 1 !important;
}

.forumchildren .forumcategoryblock {
  width: 100%;
}
