@media screen and (min-width: 1280px) {
    #drawerleft {
        min-width: 30px;
        flex-basis: 30px;
        transition: 0.5s;
        overflow: hidden;
        opacity: 0.25;
    }
    #drawerleft:hover {
        flex-basis: 250px;
        opacity: 1;
    }
    #drawerleft>.drawer-section {
        min-width: 250px;
    }
    .page-forum.useroptions .drawer-container>.drawer {
        flex-basis: auto;
        opacity: 1;
    }
}